* {
    box-sizing: border-box;
  }
  
  .container {
    max-width: 960px;
    margin: 30px auto;
  }
  
  .clr {
    clear: both;
  }
  
  .box {
    background: #f4f4f4;
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  #box-1 {
    background-color: rgb(241, 146, 3);
    text-align: center;
  }
  
  #box-2 {
    float: left;
    width: 30%;
    height: 300px;
    background-color: rgb(1, 122, 27);
    text-align: left;
    padding-top: 5px;
  }
  
  #box-3 {
    float: right;
    width: 69.5%;
    height: 300px;
    background-color: rgb(174, 3, 241);
    text-align: right;
  }
  
  #box-4 {
    background-color: rgb(81, 81, 248);
    text-align: center;
  }

  @media only screen and (max-width: 500px) {
    #box-2 {
        display: none;
      }
      
      #box-3 {
        width: 100%;
        height: 300px;
        background-color: rgb(174, 3, 241);
        text-align: right;
      }
  }