* {
  box-sizing: border-box;
}

body {
  font-family: "Irish Grover", cursive;
  line-height: 1.4em;
}

.container {
  max-width: 960px;
  margin: 30px auto;
  text-align: center;
  padding: 20px;
  margin-bottom: 15px;
}

#about {
  border: 1px solid rgb(247, 200, 228);
  background: #e3cefa80;
  padding: 20px;
  margin-bottom: 10px;
}

#links {
  color: rgb(49, 49, 156);
  font-size: 20px;
  background-color: rgb(179, 246, 255);
  border: 3px solid rgb(0, 153, 255);
  border-radius: 10px;
  float: left;
  width: 30%;
  padding: 20px;
  margin-bottom: 10px;
}
