* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
}

.navbar {
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  padding: 30px;
  width: 100%;
}

.navbar a {
  padding: 30px;
  justify-content: center;
  align-items: center;
}
