body {
    font-family: Arial, Helvetica, sans-serif;
    background: gray;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.continer {
    max-width: 1100px;
}

p {
    padding: 45px;
}

/* Smartphones */
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }
}

/* Tablet */
@media(min-width: 501px) and (max-width: 768px) {
    h1 {
        font-size: 38px;
    }

    p {
        font-size: 23px;
    }
}

/* Normal */
@media(min-width: 769px) and (max-width: 1200px) {
    h1 {
        font-size: 48px;
    }

    p {
        font-size: 33px;
    }
}

/* Widescreen */
@media(min-width: 1201px) {
    h1 {
        font-size: 45px;
    }

    p {
        font-size: 26px;
    }
}

/* Landscape */
@media(max-height: 500px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 17px;
        padding: 35px;
    }
}