* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    max-width: 900px;
    margin: 20px 85px;
  }
  
  p {
    text-align: left;
    padding: 5px 10px 23px 23px;

  }

  h3 {
      padding-left: 23px;
      padding-top: 16px;
      text-align: left;
  }
  
  li {
    float: left;
    overflow: auto;
    width: 23%;
    padding: 0px 20px;
    margin: 5px;
    background: rgba(170, 169, 169, 0.842);
  }
  
  ul {
    text-align: center;
  }

  @media only screen and (max-width: 769px) {
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    h3 {
        padding-left: 6px;
        padding-top: 16px;
        text-align: left;
    }

    p {
    display: inline-block;
    text-align: left;
    padding: 4px 5px 14px 5px;
    }

    li {
    float: left;
    overflow: auto;
    width: auto;
    }

    ul {
    text-align: center;
    }
}