* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-areas:
    "box-1 box-1 box-2 box-2"
    "box-3 box-4 box-4 box-4"
    "box-5 box-5 box-5 box-5";
  grid-gap: 1rem;
  margin: 1rem;
}

.box {
  border: 1px #ccc solid;
  border-radius: 15px;
  padding: 2.5rem;
}

.box-1 {
  background: rgb(0, 255, 42);
  grid-area: box-1;
}

.box-2 {
  background: rgb(2, 255, 158);
  grid-area: box-2;
}

.box-3 {
  background: rgb(0, 255, 221);
  grid-area: box-3;
}

.box-4 {
  background: rgb(0, 183, 255);
  grid-area: box-4;
}

.box-5 {
  background: rgb(2, 89, 204);
  grid-area: box-5;
}
