* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
}

.box {
  border: 1px #ccc solid;
  border-radius: 15px;
  padding: 2.5rem;
}

.box-1 {
  background: rgb(9, 255, 0);
  grid-column: 1 / span 4;
}

.box-2 {
  background: rgb(108, 252, 197);
  grid-column: 3 / span 2;
}

.box-3,
.box-4 {
  background: rgb(0, 183, 255);
}

.box-5 {
  background: rgb(2, 89, 204);
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}
