* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #334660;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 960px;
  margin: 20px auto;
}

.box {
  padding: 10px 200px;
  display: inline-block;
  text-align: center;
}

.box-title {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  padding: 5px;
}
.btn-flat {
  list-style: none;
  overflow: auto;
}

.btn-flat li {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  width: 31%;
  text-align: center;
}
.btn-flat li button {
  text-align: center;
}

.btn-flat-ghost {
  list-style: none;
  overflow: auto;
}
.btn-flat-ghost li {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  width: 31%;
  text-align: center;
}

.btn-round {
  list-style: none;
  overflow: auto;
}
.btn-round li {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  width: 31%;
  text-align: center;
}

.btn-round-ghost {
  list-style: none;
  overflow: auto;
}
.btn-round-ghost li {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  width: 31%;
  text-align: center;
}

.btn-Large {
  text-decoration: none;
  font-size: 25px;
  display: block;
  padding: 15px 20px;
  margin: 10px;
  width: 160px;
  height: 65px;
}

.btn-medium {
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 15px 20px;
  margin: 10px 10px;
  width: 140px;
  height: 55px;
}

.btn-small {
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 10px 30px;
  margin: 10px;
  width: 115px;
  height: 45px;
}

/****************** full color ******************/
.btn-green-full {
  background-color: #34aa69;
  color: rgb(255, 255, 255);
  border: 1px solid #2c8d57;
}
.btn-green-full:hover {
  background-color: #247649;
  cursor: pointer;
}

.btn-red-full {
  background-color: #aa3434;
  color: rgb(255, 255, 255);
  border: 1px solid #8b2929;
}
.btn-red-full:hover {
  background-color: #8b2929;
  cursor: pointer;
}

.btn-blue-full {
  background-color: #2766c5;
  color: rgb(255, 255, 255);
  border: 1px solid #2159ad;
}
.btn-blue-full:hover {
  background-color: #2159ad;
  cursor: pointer;
}

.btn-orange-full {
  background-color: #ca8620;
  color: rgb(255, 255, 255);
  border: 1px solid #b3761c;
  border-radius: 45px;
}
.btn-orange-full:hover {
  background-color: #b3761c;
  cursor: pointer;
}

.btn-yellow-full {
  background-color: #bbb120;
  color: rgb(255, 255, 255);
  border: 1px solid #a1991d;
  border-radius: 45px;
}
.btn-yellow-full:hover {
  background-color: #a1991d;
  cursor: pointer;
}

.btn-gray-full {
  background-color: #7a807c;
  color: rgb(255, 255, 255);
  border: 1px solid #5c5b5b;
  border-radius: 45px;
}
.btn-gray-full:hover {
  background-color: #5c5b5b;
  cursor: pointer;
}

/****************** ghost color ******************/
.btn-green-ghost {
  background-color: #334660;
  color: rgb(255, 255, 255);
  border: 4px solid #2c8d57;
}
.btn-green-ghost:hover {
  background-color: #247649;
  cursor: pointer;
}

.btn-red-ghost {
  background-color: #334660;
  color: rgb(255, 255, 255);
  border: 4px solid #8b2929;
}
.btn-red-ghost:hover {
  background-color: #8b2929;
  cursor: pointer;
}

.btn-blue-ghost {
  background-color: #334660;
  color: rgb(255, 255, 255);
  border: 4px solid #2159ad;
}
.btn-blue-ghost:hover {
  background-color: #2159ad;
  cursor: pointer;
}

.btn-orange-ghost {
  background-color: #334660;
  color: rgb(255, 255, 255);
  border: 4px solid #b3761c;
  border-radius: 45px;
}
.btn-orange-ghost:hover {
  background-color: #b3761c;
  cursor: pointer;
}

.btn-yellow-ghost {
  background-color: #334660;
  color: rgb(255, 255, 255);
  border: 4px solid #a1991d;
  border-radius: 45px;
}
.btn-yellow-ghost:hover {
  background-color: #a1991d;
  cursor: pointer;
}

.btn-gray-ghost {
  background-color: #334660;
  color: rgb(255, 255, 255);
  border: 4px solid #5c5b5b;
  border-radius: 45px;
}
.btn-gray-ghost:hover {
  background-color: #5c5b5b;
  cursor: pointer;
}
