* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 30px auto;
  position: relative;
}

.div-one {
  width: 250px;
  height: 200px;
  border: 3px solid #000;
  background: #fff;
  position: absolute;
  top: 100px;
  right: 380px;
}

.div-two {
  width: 200px;
  height: 200px;
  border: 3px solid #000;
  background: #fff;
  position: absolute;
  top: 200px;
  right: 310px;
}

.div-three {
  width: 500px;
  height: 125px;
  border: 3px solid #000;
  background: #fff;
  position: absolute;
  top: 375px;
  right: 130px;
}

.div-four {
  width: 80px;
  height: 470px;
  border: 3px solid #000;
  background: #fff;
  position: absolute;
  top: 100px;
  right: 150px;
}
