* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* body {
    background: rgb(202, 204, 179);
  } */
  
  .navbar {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 15vw;
    height: 15vh;
  }

  .left_side {
    align-items: flex-start;
  }

  .right_side {
    flex-direction: row;
    align-items: flex-end;
  }

  .right_side a {
    justify-content: space-evenly;
  }
  