* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  flex-direction: row-reverse;
}

.dot {
  height: 40px;
  width: 40px;
  background: rgb(70, 86, 87);
  border-radius: 50%;
  padding: 10px;
  margin: 20px;
}

.dot-1,
.dot-2,
.dot-3,
.dot-4,
.dot-5,
.dot-6 {
  position: absolute;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.dot-1 {
  background: rgb(1, 245, 253);
  animation-name: dot-1-jump;
}

.dot-2 {
  background: rgb(1, 245, 253);
  animation-name: dot-2-jump;
  animation-delay: 0.5s;
}

.dot-3 {
  background: rgb(1, 245, 253);
  animation-name: dot-3-jump;
  animation-delay: 1s;
}

.dot-4 {
  animation-name: dot-4-jump;
}

.dot-5 {
  animation-name: dot-5-jump;
  animation-delay: 0.5s;
}

.dot-6 {
  animation-name: dot-6-jump;
  animation-delay: 1s;
}

.circle-clear,
.circle-gray {
  position: absolute;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle-clear {
  animation-name: circle-clear;
}

.circle-gray {
  animation-name: circle-gray;
  border: rgb(70, 86, 87) 6px solid;
}

.three-dots-jump,
.three-dots-linear {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.circle {
  height: 150px;
  width: 150px;
  background: cadetblue;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}

@keyframes dot-1-jump {
  from {
    top: 50%;
    right: 8%;
  }

  to {
    top: 670px;
    right: 8%;
  }
}

@keyframes dot-2-jump {
  from {
    top: 50%;
    right: 11%;
  }

  to {
    top: 670px;
    right: 11%;
  }
}

@keyframes dot-3-jump {
  from {
    top: 50%;
    right: 14%;
  }

  to {
    top: 670px;
    right: 14%;
  }
}

@keyframes dot-4-jump {
  from {
    top: 50%;
    right: 25%;
  }

  to {
    top: 50%;
    right: 25%;
    background: rgb(1, 245, 253);
  }
}

@keyframes dot-5-jump {
  from {
    top: 50%;
    right: 29%;
  }

  to {
    top: 50%;
    right: 29%;
    background: rgb(1, 245, 253);
  }
}

@keyframes dot-6-jump {
  from {
    top: 50%;
    right: 33%;
  }

  to {
    top: 50%;
    right: 33%;
    background: rgb(1, 245, 253);
  }
}

@keyframes circle-clear {
  from {
    top: 45%;
    right: 60%;
    background: black;
    border-left: rgb(1, 245, 253) 7px solid;
    transform: rotate(0);
  }

  to {
    top: 45%;
    right: 60%;
    background: black;
    border-left: rgb(1, 245, 253) 7px solid;
    transform: rotate(360deg);
  }
}

@keyframes circle-gray {
  from {
    top: 45%;
    right: 80%;
    background: black;
    border-left: rgb(1, 245, 253) 7px solid;
    transform: rotate(0);
  }

  to {
    top: 45%;
    right: 80%;
    background: black;
    border-left: rgb(1, 245, 253) 7px solid;
    transform: rotate(360deg);
  }
}
