* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-size: 1.5rem;
}

a:after {
  content: " (https://moo.appleseeds.org.il/)";
  color: #8472cc;
}

div a {
  text-decoration: none;
  color: #8472cc;
}
